<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />

    <meta content="A docker distribution management system" name="description" />
    <meta content="Umschlag Team" name="author" />

    <title>Umschlag</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />

    <% for (var i = 0; i < htmlWebpackPlugin.files.css.length; i++) { %>
      <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet" />
    <% } %>
  </head>
  <body role="document">
    <div id="umschlag"></div>

    <% for (var i = 0; i < htmlWebpackPlugin.files.js.length; i++) { %>
      <script src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
  </body>
</html>
